.collaborator-video {
  z-index: 2;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 13px 14px 59px 7px rgba(176,176,176,1);
  -moz-box-shadow: 13px 14px 59px 7px rgba(176,176,176,1);
  box-shadow: 13px 14px 59px 7px rgba(176,176,176,1);

  video {
    height: 100px;
    margin-left: -16.5px;
  }
}


