#easyRTCWrapper {
  border: 1px solid gray;
  width: 601px;
}

#chat-wrapper,
#video-wrapper {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

div#self-wrapper,
div#caller-wrapper { 
  position: relative;
  width: 300px;
}

div#self-wrapper {
  border-bottom: 1px solid gray;
}

div#otherClients {
  float: right;
}
